@media (max-width: 1920px) {
  #text-container {
    height: 100vh;
  }

  #text {
    height: auto;
    width: 50vw;
  }

  #caption > p {
    font-size: 19px;
    margin: 0;
  }

  #contact {
    font-size: 2.7vh;
  }

  #contact.scroll-animation {
    opacity: 1;
  }
}

@media (max-width: 1515px) {
  #flex-container {
    flex-direction: column;
    height: fit-content;
  }

  #text-container {
    height: 100vh;
    width: 100%;
  }

  h1 {
    width: 100%;
    margin: 5vh 0;
    border-top: solid 9px #212628;
    border-bottom: solid 9px #212628;
  }

  #text {
    width: 95vw;
    height: auto;
  }

  #grid-container {
    margin: 5vh calc((50vw - 748px) / 2);
    --grid-width: 80vh;
    grid-template-rows:
      calc(var(--grid-width) * 414 / 748) calc(var(--grid-width) * 130 / 748)
      calc(var(--grid-width) * 155 / 748) calc(var(--grid-width) * 22 / 748);
    grid-template-columns:
      calc(var(--grid-width) * 320 / 748) calc(var(--grid-width) * 198 / 748)
      calc(var(--grid-width) * 153 / 748) calc(var(--grid-width) * 50 / 748);
    width: var(--grid-width);
    height: var(--grid-width);
    gap: calc(var(--grid-width) * 9 / 748);
  }

  #caption {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1vh 0 5vh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
  }

  p {
    padding: 0;
    margin: 0 0 1vh;
    width: 100%;
  }

  #contact {
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 1vh 0;
    box-sizing: inherit;
    align-items: center;
    font-size: 3.7vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  #text-container {
    justify-content: center;
  }
  h1 {
    font-size: 3.5rem;
    margin: 0.75rem;
  }

  #text {
    font-size: 1.7rem;
    padding-bottom: 3.7vh;
  }

  .br-switch {
    display: none;
  }

  #grid-container {
    margin: 5vh auto;
    --grid-width: 80vw;
    grid-template-rows:
      calc(var(--grid-width) * 414 / 748) calc(var(--grid-width) * 130 / 748)
      calc(var(--grid-width) * 155 / 748) calc(var(--grid-width) * 22 / 748);
    grid-template-columns:
      calc(var(--grid-width) * 320 / 748) calc(var(--grid-width) * 198 / 748)
      calc(var(--grid-width) * 153 / 748) calc(var(--grid-width) * 50 / 748);
    width: var(--grid-width);
    height: var(--grid-width);
    gap: calc(var(--grid-width) * 9 / 748);
  }

  #caption > p {
    font-size: 16px;
  }

  #contact {
    font-size: 1.7vh;
  }
}
