/*
 * Style Sheet
 *
 * Copyright © Vladislav Kazantsev
 * All rights reserved.
 * This code is the intellectual property of Vladislav Kazantsev.
 * You are welcome to clone the related repository and use the code for exploratory purposes.
 * However, unauthorized reproduction, modification, or redistribution of this code (including cloning of related repository or altering it for activities beyond exploratory use) is strictly prohibited.
 * Code snippets may be shared only when the original author is explicitly credited and a direct link to the original source of the code is provided alongside the code snippet.
 * Sharing the link to the file is permitted, except when directed toward retrieval purposes.
 * Any form of interaction with this file is strictly prohibited when facilitated by the code, except when such interaction is for discussion or exchange purposes with others.
 * This copyright notice applies globally.
 * For inquiries about collaboration, usage outside exploratory purposes, or permissions, please contact: hypervisor7@pm.me
 */

@media (max-width: 1920px) {
  #text-container {
    height: 100vh; /* Set the height of the element */
  }

  #text {
    height: auto; /* Set the height of the element */
    width: 50vw; /* Set the width of the element */
  }

  #caption > p {
    font-size: 19px; /* Set the font size for the text of the element */
    margin: 0;
  }

  #contact {
    font-size: 2.7vh; /* Set the font size for the text of the element */
  }

  #contact.scroll-animation {
    opacity: 1;
  }
}

@media (max-width: 1515px) {
  #flex-container {
    flex-direction: column;
    height: fit-content; /* Set the height of the element */
  }

  #text-container {
    height: 100vh; /* Set the height of the element */
    width: 100%; /* Set the width of the element */
  }

  h1 {
    width: 100%; /* Set the width of the element */
    margin: 5vh 0;
    border-top: solid 9px #212628;
    border-bottom: solid 9px #212628;
  }

  #text {
    width: 95vw; /* Set the width of the element */
    height: auto; /* Set the height of the element */
  }

  #grid-container {
    margin: 5vh calc((50vw - 748px) / 2);
    --grid-width: 80vh;
    grid-template-rows:
      calc(var(--grid-width) * 414 / 748) calc(var(--grid-width) * 130 / 748)
      calc(var(--grid-width) * 155 / 748) calc(var(--grid-width) * 22 / 748);
    grid-template-columns:
      calc(var(--grid-width) * 320 / 748) calc(var(--grid-width) * 198 / 748)
      calc(var(--grid-width) * 153 / 748) calc(var(--grid-width) * 50 / 748);
    width: var(--grid-width); /* Set the width of the element */
    height: var(--grid-width); /* Set the height of the element */
    gap: calc(var(--grid-width) * 9 / 748);
  }

  #caption {
    position: relative;
    bottom: 0;
    left: 0;
    padding: 1vh 0 5vh;
    width: 100%; /* Set the width of the element */
    box-sizing: border-box;
    text-align: center;
    align-items: center;
  }

  p {
    padding: 0;
    margin: 0 0 1vh;
    width: 100%; /* Set the width of the element */
  }

  #contact {
    position: relative;
    bottom: 0;
    margin: 0;
    width: 100%; /* Set the width of the element */
    padding: 1vh 0;
    box-sizing: inherit;
    align-items: center;
    font-size: 3.7vh; /* Set the font size for the text of the element */
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100%; /* Set the width of the element */
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px; /* Set the font size for the text of the element */
  }

  #text-container {
    justify-content: center;
  }
  h1 {
    font-size: 3.5rem; /* Set the font size for the text of the element */
    margin: 0.75rem;
  }

  #text {
    font-size: 1.7rem; /* Set the font size for the text of the element */
    padding-bottom: 3.7vh;
  }

  .br-switch {
    display: none;
  }

  #grid-container {
    margin: 5vh auto;
    --grid-width: 80vw;
    grid-template-rows:
      calc(var(--grid-width) * 414 / 748) calc(var(--grid-width) * 130 / 748)
      calc(var(--grid-width) * 155 / 748) calc(var(--grid-width) * 22 / 748);
    grid-template-columns:
      calc(var(--grid-width) * 320 / 748) calc(var(--grid-width) * 198 / 748)
      calc(var(--grid-width) * 153 / 748) calc(var(--grid-width) * 50 / 748);
    width: var(--grid-width); /* Set the width of the element */
    height: var(--grid-width); /* Set the height of the element */
    gap: calc(var(--grid-width) * 9 / 748);
  }

  #caption > p {
    font-size: 16px; /* Set the font size for the text of the element */
  }

  #contact {
    font-size: 1.7vh; /* Set the font size for the text of the element */
  }
}
